<div class="row">

    <!-- Columna de Usuarios  -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                <table class="table table-hover" *ngIf="usuarios.length > 0">
                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>
                                <img [src]="usuario.img | imagen" class="img-50 img-fluid img-circle">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                            <td>
                                <button routerLink="/usuarios" class="btn btn-outline-primary"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="usuarios.length === 0">No hay registros de usuarios</div>
            </div>
        </div>
    </div>

    <!-- Columna de Médicos -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Médicos</h4>
                <table class="table table-hover" *ngIf="medicos.length > 0">
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <td>
                                <img [src]="medico.img | imagen: 'medico'" class="img-50 img-fluid img-circle">
                            </td>
                            <td>{{ medico.nombre }}</td>
                            <td>
                                <button [routerLink]="['/medico', medico._id]" class="btn btn-outline-primary"><i class="fa fa-edit"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="medicos.length === 0">No hay registros de médicos</div>
            </div>
        </div>
    </div>

    <!-- Columna de Hospitales -->
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>
                <table class="table table-hover" *ngIf="hospitales.length > 0">
                    <tbody>
                        <tr *ngFor="let hospital of hospitales" routerLink="/hospitales" class="pointer">
                            <td>
                                <img [src]="hospital.img | imagen: 'hospital'" class="img-50 img-fluid img-circle">
                            </td>
                            <td>{{ hospital.nombre }}</td>
                            <!-- <td>
                                <button routerLink="/hospitales" class="btn btn-outline-primary"><i class="fa fa-edit"></i></button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
                <div class="alert alert-info" *ngIf="hospitales.length === 0">No hay registros de hospitales</div>
            </div>
        </div>
    </div>

</div>